.carddiv{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,auto);
    gap: 10px;
    width: 92%;
    margin: auto;
    justify-items: center;
    /* border: 2px solid blue; */
    padding: 8px;
    margin-left: 70px;

    /* overflow-x: hidden; */
   
}

.carddiv.active{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,auto);
    gap: 9px;
    width: 90%;
    margin: auto;
    justify-items: center;
    border: 2px solid blue;
    padding: 8px;
}

.cardm {
    border-radius: 5px;
    text-align: left;
    width: 305px;
    margin: auto;
    height: 342px;
    overflow: hidden;
}

iframe{
    height: 225px;
    width: 100%;
}

.title{
    font-family: "Roboto", "Arial", sans-serif;
    color: #0F0F0F;
    font-size: 16px;
    line-height: 1.8rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebarm.active{
    width: 15%;
}

#container{
    width: 98%;
    margin: auto;
}

svg#search-icon {
    background-color: transparent;
    border: 1.5px solid lightgray;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 41.6px !important;
}

#price {
    border: 1.5px solid lightgray !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    border-right: none !important;
}

@media only screen and (max-width: 500px) {
    .carddiv {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,auto);
        gap: 10px;
        width: 98%;
        margin: auto;
        justify-items: center;
        /* border: 2px solid blue; */
        padding: 8px;
        padding-bottom: 60px;
        /* overflow-x: hidden; */
       
    }

    .cardm {
        margin-right: 5px;
        border-radius: 15px;
        text-align: left;
        width: 365px;
        margin: auto;
        height: 342px;
        overflow: hidden;
        opacity: 1;
        text-transform: capitalize;
    }

    .catbtn{
        /* display: none; */
        overflow-x: hidden;
    }
    .searchBar{
      display: none;
    }
    #menubar{
        display: none;
    }
    .bellicon{
        display: none;
    }
    .Navbar{
        width: 100%;
        padding-left: 0px;
        padding-right: 10px;
        height: 80px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        /* border: 2px solid red; */
    }
  }